

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-color: #EFF6F5;
	font-size: 14px;
	color: #2C4145;
}

h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 100px;
	font-style: normal;
	font-weight: 600;
	width:1000px;
	margin:auto;
	padding:1em 0 .2em; 
	text-align: center; 
}

h2{
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #2C4145
}

nav{
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 16px;
	width:244px;
	margin:auto;
	padding:2em 0;
	color: #2C4145;
}

nav a{
	margin: 10px;
	text-decoration: none;
}

p {
	font-family: 'Hind', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400px;
	line-height: 20px;
	text-align: center;
	padding: 2em 0;
	
}

ul {
    font-family: 'Hind', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600px;
	line-height: 20px;
	text-align: center;
	list-style-type: none;

}

ul a {
	text-decoration: none;
	text-transform: uppercase;
}

a{
	color: #2C4145; 
}
a:link {
    color: #2C4145;
}

a:visited {
    color: #2C4145;
}

a:hover {
    color: #9CC287;
}

#image{
	background:url("../images/officeplants.jpg") no-repeat center center scroll;
	background-size:cover;
	width: 100%;
	height: 400px;
}


#slogan{
	text-align: center;
	padding: 0em;
	color: #A6C1A3;
}

#services{
	font-family: 'Dosis', sans-serif;
	padding:3em 0;
	background-color: #C1C0BE;
	color: #2C4145;
	background-size: auto;
	text-transform: uppercase;
}



.paragraphs{
	font-family: 'Hind', sans-serif;
	text-align: center;
	padding: 60px 0 30px;
}

.designimage{
	margin: px;
    padding:30px;
    height: 400px;
    width: 400px;
    float: center;
    text-align: left;

}

.column-left{ 
	float: left; width: 33%; 
	padding: 2em 2em 0 2em;
}
.column-right{ 
	
	float: right; width: 33%;
	padding: 2em 0 0 2em;
}
.column-center{ 

	display: inline-block; width: 33%; 
	padding: 2em 0 2em 2em;
}

.wrap{
	width:700px;
	margin:auto;
}
.center{
	text-align: center;
	color: #2C4145;
	padding: 10px;
}








